@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  @apply bg-blue-50;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

p,
ol {
  @apply mb-4;
}

.content-container {
  @apply mb-12;
}
.content-container .step {
  @apply font-bold;
}
.content-container .title {
  @apply text-2xl font-bold mb-2;
}

.card-container {
  @apply mb-4
}

.card-heading {
  @apply text-xl font-bold;
}
